body {
    position: relative; 
    display: flex;
    background-color: #C0C0C0;
}
/*
C0C0C0
D3D3D3
E6E6FA
*/

.titulo {
    position: relative;
    left: 650px; 
    top: 0px; 
    white-space: nowrap; 
}

/*Logos en el mapa*/
#imagenesContainer {
    position: relative; 
    width: 100%; 
    height: auto; 
}

img {
    position: relative; 
    max-width: 100px; 
    height: auto;
    cursor: pointer;
}

.mapa {
    position: relative; 
    background-color: lightblue;
    height: auto; 
    transform: scale(1.9); 
    max-width: 530px; 
    margin-left: -150px; 
    margin-top: 230px; 
    border-radius: 10px;
}


