body {
    position: relative; 
    display: flex;
}
.mapa {
    position: relative; /* Cambiado a posición relativa */
    max-width: 500px; /* Mantén este valor si deseas un máximo */
    height: auto; /* Mantener la proporción de la imagen */
    transform: scale(1.9); /* Escalar al 120% de su tamaño original */
    margin-left: 250px; /* Ajusta este valor según necesites */
    margin-top: 50px; /* Ajusta este valor según necesites */
}

#imagenesContainer {
    position: relative; /* Para que las imágenes se posicionen correctamente dentro de este contenedor */
    width: 100%; /* Ajusta según el ancho deseado */
    height: auto; /* O establece un valor fijo si lo prefieres */
}


img {
    position: relative; /* Cambiado a posición relativa */
    max-width: 100px; /* Ajusta el tamaño según necesites */
    height: auto;
    cursor: pointer;
}

